# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
sparkEnv/
venv/
env/

# Data
data/transactions/
data/checkpoints/
*.parquet

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Documentation
*.md
documentation.pdf
documentation.html